.button {
  width: 100%;
  padding: 10px 15px;
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  color: white;
  background: #D09F30;
  background: #007EFC;

  font-weight: 1000;
  font-size: 16px;
  text-align: center;
}

.button:hover {
  opacity: .7;
}

@media (min-width: 700px) {
  .button {
    font-size: 21px;
    margin-top: 60px;
  }
}
